#indexbody {
    align-content: center;
    color: black; /*cor da letra*/ 
    background-color: red; /*cor do fundo*/ 
    width: 100%;
    margin-top: 0rem;
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
    text-align: center;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#indexbody h2 {
    padding-top: 2rem;
}
.container {
    align-content: center;
    display: flex;
    flex-direction: column;
}

